/* should capitolize first letter  */
p::first-letter {
    text-transform: uppercase;
}
h1{
    color: #fdfe00;
    border: groove;
    border-color: #2a75bb;
    -webkit-text-stroke: 1px  #3B4CCA;
}

h3{
    padding: 20px;
}

#app-body{
background-color:#2a75bb ;
font-family: 'Pokemon Fire Red', sans-serif;

}
#proj-title {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #FF9E9E;
    text-align: center;
    width: 100%;
}

#movesets{
    overflow: auto;
    height: 280px;
}


#player-pokemon {
    display: flex;
    justify-items: space-between;
}

/* second section */

#enemy-selection{
    display: flex;
    justify-items: space-between;
}


/* below are all the flex container properties  */


.flexbox-container {
    height: 720;
    width: 480px;
    display: flex;
    justify-content: space-around;
   
    border: groove; 
    border-color:#2a75bb; 
    flex-wrap: wrap;

}

.flexbox-item-form{
background-color: #FF9E9E;
flex-direction: row;

}
.flexbox-item-infobox{
    overflow: visible;
    /* width: 98%; */
    align-items: center;
    align-items: flex-start;
}
.flexbox-item-infobox2{
overflow: visible;
    /* width: 98%; */
    align-items: center;
    align-items: flex-start;
}

